<%- include header %>
<div class="jumbotron">
<h1>Bienvenido <%=user.user_name%></h1>
<br/>

<p>
<a class="btn btn-lg btn-primary" href="/news" role="button">Aplicación»</a>
<br/>
<br/>
<a class="btn btn-lg btn-primary" href="/users" role="button">Gestión de usuarios»</a>
</p>
</div>
<%- include footer %>